Source: graalvm-ce-java8
Maintainer: Lee Dongjin <dongjin@apache.org>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.4
Section: java
Homepage: https://www.graalvm.org/
Vcs-Git: https://github.com/dongjinleekr/graalvm-ce-deb
Vcs-Browser: https://github.com/dongjinleekr/graalvm-ce-deb

Package: graalvm-ce-java8
Priority: optional
Architecture: amd64
Multi-Arch: same
Description: GraalVM Community Edition
 GraalVM is a universal virtual machine for running applications written
 in JavaScript, Python, Ruby, R, JVM-based languages like Java, Scala,
 Groovy, Kotlin, Clojure, and LLVM-based languages such as C and C++.
